.content {
    border-bottom: 1px solid $border-gray;
    padding-bottom: 50px;
    margin-bottom: 90px;

    &-title {
        @include text(title);
        color: $text-black;
        text-align: center;
        margin-bottom: 90px;
        &.small-margin {
            margin-bottom: 60px;
        }
    }

    &-sub-title {
        max-width: 90%;
        @include text(text18);
        line-height: 34px;
        color: $text-gray;
        text-align: center;
        margin: 20px auto 60px;
    }

    &-area {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        &.about {
            width: 80%;
            text-align: center;
            margin: 0 auto;
        }

        &--block {
            width: 100%;
            max-width: 320px;
            min-width: 290px;
            margin-bottom: 30px;
        }

        h4 {
            display: flex;
            align-items: center;
            @include text(sub-title);
            color: $text-black;
            margin-bottom: 24px;
            &:before {
                content: '';
                display: block;
                height: 50px;
                width: 50px;   
                margin-right: 20px;             
            }
            &.more-clients {
                &:before {
                    background: transparent url('./img/client-icon.png') no-repeat center;
                    background-size: contain;
                }
            }
            &.business-creating {
                &:before {
                    background: transparent url('./img/buiness-icon.png') no-repeat center;
                    background-size: contain;
                }
            }
            &.feedback-communication {
                &:before {
                    background: transparent url('./img/feedback-icon.png') no-repeat center;
                    background-size: contain;
                }
            }
        }

        p {
            @include text(text16);
            line-height: 28px;
            color: $text-dark-gray;
        }
    }
}