.content {
    border-bottom: 1px solid $border-gray;
    padding-bottom: 50px;
    margin-bottom: 90px;

    &-title {
        @include text(title);
        color: $text-black;
        text-align: center;
        margin-bottom: 90px;
    }

    &-sub-title {
        max-width: 90%;
        @include text(text18);
        line-height: 34px;
        color: $text-gray;
        text-align: center;
        margin: 20px auto 90px;
    }

    &-area {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;

        &--block {
            width: calc((100% - 15px)/3);
            max-width: 340px;
            min-width: 290px;
            margin-bottom: 30px;
        }

        h4 {
            display: flex;
            align-items: center;
            @include text(sub-title);
            color: $text-black;
            margin-bottom: 24px;
            &:before {
                content: '';
                display: block;
                height: 35px;
                width: 35px;   
                margin-right: 20px;             
            }
            &.more-clients {
                &:before {
                    background: transparent url('./img/client-icon.svg') no-repeat center;
                    background-size: contain;
                }
            }
            &.business-creating {
                &:before {
                    background: transparent url('./img/buiness-icon.svg') no-repeat center;
                    background-size: contain;
                }
            }
            &.feedback-communication {
                &:before {
                    background: transparent url('./img/feedback-icon.svg') no-repeat center;
                    background-size: contain;
                }
            }
        }

        p {
            @include text(text16);
            line-height: 28px;
            color: $text-dark-gray;
            &.big-text {  
                display: flex;   
                line-height: 48px;
                margin-bottom: 24px;           
                span {
                    display: block;
                    &:first-child {
                        font-size: 48px;
                        font-weight: 700;
                        color: $text-black;
                        margin-right: 5px;
                    }
                    &:last-child {
                        font-size: 1em;
                        color: $text-gray;
                    }
                }
            }
        }
    }
}