.footer {
    &-form {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20vmin 0;
        width: 100%;
        background: transparent url('./img/footer.svg') no-repeat center;
        background-size: cover;
        form {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;
        }
        .input-desc {        
            text-align: center;
            padding: 0 20px;
        }
    }
    &-title {
        @include text(title);
        color: #fff;
        margin-bottom: 30px;
    }    
    &-link {
        height: 76px;
        width: 100%;
        background-color: #f9f6f8;
        .main-content {            
            display: flex;
            justify-content: center;
            height: 100%;
        }
        a {
            display: flex;
            align-items: center;
            @include text(text16);
            color: inherit;
            text-decoration: none;
            margin: 0 10px;
            padding: 20px
        }
    }
}