.header {
    height: 100vh;
    min-height: 510px;
    width: 100%;
    background: #fc6dab;
    background-image: url('./img//header-bg1.svg'); /* fallback */
    background-image: url('./img//header-bg1.svg'), linear-gradient(250deg, #ffcfbb 0%, #fc6dab 100%); /* W3C */
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 100%;
    margin-bottom: 90px;
    &-top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding-top: 20px;
        margin-bottom: 18vh;
    }
    &-title {        
        width: 70%;
        @include text(text48);
        color: #fff;
        margin-bottom: 30px
    }
}