.tab-menu {        
    width: 90%;
    margin: 0 auto;
    .react-tabs__tab-list {        
        display: flex;
        justify-content: space-between;
        margin-bottom:60px;
        border-bottom: 2px solid $border-gray;
        li {
            display:flex;
            flex-direction: column;
            align-items: center;
            position: relative;
            @include text(text21);
            padding: 0 20px 24px;
            cursor: pointer;
            &:before {
                content: '';
                height: 50px;
                width: 50px;
            }
            &:after {
                position: absolute;
                bottom: -1px;
                left: 0;
                content: '';
                width: 100%;
                height: 2px;
                background-color: #2f5bea;
                transform: scale(0);
                transition: all 0.3s;
            }
            &.react-tabs__tab--selected,
            &:hover {
                &:after {
                    transform: scale(1);
                    transition: all 0.3s;
                }
            }
        }
    }    
}

.study-menu {
    &:before {
      background: transparent url('./img/study.svg') no-repeat center;  
    }
}
.feedback-menu {
    &:before {
      background: transparent url('./img/feedback.svg') no-repeat center;  
    }
}
.free-menu {
    &:before {
      background: transparent url('./img/free.svg') no-repeat center;  
    }
}

.tab-content {
    background: transparent url('./img/woman.svg') no-repeat 10%;
    background-size: contain;
    padding: 40px 0 0 50%;
    &-title {
        @include text(text28);
        margin-bottom: 35px;
    }
    ul {       
        @include text(text16); 
        line-height: 28px;
        color: $text-dark-gray;
        border-bottom: 1px solid $border-gray;
        margin-bottom: 20px;
        li {
            position: relative;
            padding-left: 30px;
            margin-bottom: 20px;
            &:before {
                position: absolute;
                top: 7px;
                left: 0;
                content: '';
                width: 11px;
                height: 11px;
                border-radius: 50%;
                background-color: #f8d3e3;
            }
        }
    }
    &-feedback {
        p {                
            @include text(text16); 
            line-height: 28px;
            color: $text-dark-gray;
            &:first-child {
                font-style: italic;
                margin-bottom: 30px
            }
            &:last-child {
                font-weight: 700;
            }
        }
    }
}