//fonts
@import url('https://fonts.googleapis.com/css?family=Rubik:300,400,700');

//variables
@import './variables.scss';

body {
    font: 400 10px 'Rubik', sans-serif;
    color: $text-black;
    margin: 0;
    padding: 0;
}

h1,h2,h3,h4,h5,p,ul,li {
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
}

.no-margin {
    margin: 0!important
}

.main {
    &-content {
        max-width: 1200px;
        width: calc(100% - 30px);
        padding: 0 15px;
        margin: 0 auto;
        .content {
            &:last-child {
                border-bottom: none;
            }
        }
    }
}

//Header
@import './header.scss';

//Content
@import './content.scss';

//help area
@import './help.scss';

//review content
@import './review.scss';

//Footer
@import './footer.scss';