//fonts
@import url('https://fonts.googleapis.com/css?family=Rubik:300,400,700');

//variables
$text-black: #2c2e30;
$text-dark-gray: #54565a;
$text-gray: #7e8085;
$text-pink: #fc6dab;

$border-gray:#e7eaee;

//variables
@function map-deep-get($map, $keys...) {
    @each $key in $keys {
        $map: map-get($map, $key);
    }

    @return $map;
}
$text-size: (
    title: (
        font-size: 3.4em,
        font-weight: 700
    ),
    sub-title: (
        font-size: 2.4em,
        font-weight: 700
    ),
    big-text: (
        font-size: 4.8em,
        font-weight: 700
    ),
    text16: (
        font-size: 1.6em,
        font-weight: 400  
    ),
    text18: (
        font-size: 1.8em,
        font-weight: 400  
    ),
    text21: (
        font-size: 2.1em,
        font-weight: 700  
    ),
    text28: (
        font-size: 2.8em,
        font-weight: 700  
    )
);

@mixin text($type) {
    font-size: map-deep-get($text-size, $type, 'font-size');
    font-weight: map-deep-get($text-size, $type, 'font-weight')
}

body {
    font: 400 10px 'Rubik', sans-serif;
    color: $text-black;
    margin: 0;
    padding: 0;
}

h1,h2,h3,h4,h5,p,ul,li {
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
}

.no-margin {
    margin: 0!important
}

.main {
    &-content {
        max-width: 1200px;
        width: calc(100% - 30px);
        padding: 0 15px;
        margin: 0 auto;
        .content {
            &:last-child {
                border-bottom: none;
            }
        }
    }
}

//Header
.header {
    position: relative;
    height: 80vh;
    background: linear-gradient(250deg, #ffcfbb 0%, #fc6dab 100%);
    overflow: hidden;
    &-bg {
        position: absolute;
        height: 100vh;
        width: 100%;
        background: transparent url('./img//header-bg.svg') no-repeat center;
        background-size: 37%;
        z-index: 1;
    }
}

//Content
.content {
    border-bottom: 1px solid $border-gray;
    padding-bottom: 50px;
    margin-bottom: 90px;

    &-title {
        @include text(title);
        color: $text-black;
        text-align: center;
        margin-bottom: 90px;
    }

    &-sub-title {
        max-width: 90%;
        @include text(text18);
        line-height: 34px;
        color: $text-gray;
        text-align: center;
        margin: 20px auto 90px;
    }

    &-area {
        display: flex;
        justify-content: space-around;

        &--block {
            width: calc((100% - 15px)/3);
            max-width: 340px;
        }

        h4 {
            @include text(sub-title);
            color: $text-black;
            margin-bottom: 24px;
            span {
                font-size: 16px;
                color: $text-gray;
            }
        }

        p {
            @include text(text16);
            line-height: 28px;
            color: $text-dark-gray;
            &.big-text {  
                display: flex;   
                line-height: 48px;
                margin-bottom: 24px;           
                span {
                    display: block;
                    &:first-child {
                        font-size: 48px;
                        font-weight: 700;
                        color: $text-black;
                        margin-right: 5px;
                    }
                    &:last-child {
                        font-size: 16px;
                        color: $text-gray;
                    }
                }
            }
        }
    }
}

//help area
.tab-menu {        
    width: 90%;
    margin: 0 auto;
    .react-tabs__tab-list {        
        display: flex;
        justify-content: space-between;
        margin-bottom:60px;
        border-bottom: 2px solid $border-gray;
        li {
            display:flex;
            flex-direction: column;
            align-items: center;
            position: relative;
            @include text(text21);
            padding: 0 20px 24px;
            cursor: pointer;
            &:before {
                content: '';
                height: 50px;
                width: 50px;
            }
            &:after {
                position: absolute;
                bottom: -1px;
                left: 0;
                content: '';
                width: 100%;
                height: 2px;
                background-color: #2f5bea;
                transform: scale(0);
                transition: all 0.3s;
            }
            &.react-tabs__tab--selected,
            &:hover {
                &:after {
                    transform: scale(1);
                    transition: all 0.3s;
                }
            }
        }
    }    
}

.study-menu {
    &:before {
      background: transparent url('./img/study.svg') no-repeat center;  
    }
}
.feedback-menu {
    &:before {
      background: transparent url('./img/feedback.svg') no-repeat center;  
    }
}
.free-menu {
    &:before {
      background: transparent url('./img/free.svg') no-repeat center;  
    }
}

.tab-content {
    background: transparent url('./img/woman.svg') no-repeat 10%;
    background-size: contain;
    padding: 40px 0 0 50%;
    &-title {
        @include text(text28);
        margin-bottom: 35px;
    }
    ul {       
        @include text(text16); 
        line-height: 28px;
        color: $text-dark-gray;
        border-bottom: 1px solid $border-gray;
        margin-bottom: 20px;
        li {
            position: relative;
            padding-left: 30px;
            margin-bottom: 20px;
            &:before {
                position: absolute;
                top: 7px;
                left: 0;
                content: '';
                width: 11px;
                height: 11px;
                border-radius: 50%;
                background-color: #f8d3e3;
            }
        }
    }
    &-feedback {
        p {                
            @include text(text16); 
            line-height: 28px;
            color: $text-dark-gray;
            &:first-child {
                font-style: italic;
                margin-bottom: 30px
            }
            &:last-child {
                font-weight: 700;
            }
        }
    }
}

//review content
.review-block {
    height: 220px;
    width: 90%;
    max-width: 340px;
    margin: 10px auto;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid $border-gray;
    box-shadow: 0 2px 6px rgba(44, 46, 48, 0.07);
    &-text {
        height: calc(100% - 44px);
        @include text(text16); 
        line-height: 28px;
        color: $text-dark-gray;
        font-style: italic;
        margin-bottom: 10px;
        overflow: hidden;
    }
    &-user {
        display: flex;
        align-items: center;
        img {
            height: 34px;
            width: 34px;
            margin-right: 10px;
            border-radius: 50%;
            border: none;
        }
        p {
            @include text(text16); 

            color: $text-black;
        }
    }
}

//Footer
.footer {
    &-form {
        height: calc(100vh - 76px);
        width: 100%;
        background: transparent url('./img/footer.svg') no-repeat center;
        background-size: cover;
    }
    &-link {
        display: flex;
        justify-content: center;
        height: 76px;
        width: 100%;
        background-color: #f9f6f8;
        a {
            display: flex;
            align-items: center;
            @include text(text16);
            color: inherit;
            text-decoration: none;
            margin: 0 10px;
            padding: 20px
        }
    }
}